/* HEADER */

header {
    height: 80px;
    position: relative;
    text-align: center;
    padding: 0 20px;
    z-index: 10;
}

header img {
    float: left;
    margin-right: 10px;
    height: 80px;
    padding: calc(calc(80px - 30px) / 2) 10px;
}

header > ul {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    line-height: 80px;
}

header > ul > li {
    display: inline-block;
    margin: 0 20px;
    height: 80px;
    position: relative;
}

header > ul > li .dropdown {
    position: absolute;
    left: -20px;
    background-color: #fbfbfb;
    line-height: 30px;
    padding: 20px 0px;
    opacity: 0; top: 50%;
    transition: opacity 0.3s ease-in, top 0.2s ease-in;
    z-index: -1;
}

header > ul > li:hover .dropdown {
    opacity: 1;
    top: 100%;
}

header > ul > li .dropdown li {
    text-align: left;
    padding: 10px 30px;
    font-size: 0.9rem;
    width: 250px;
}

header > ul > li .dropdown li:hover {
    background: #ececea;  
}

header > ul >  li:hover:not(ul.right li:last-child){
    border-bottom: 2px solid black;
}

header > ul >  li:last-child {
    margin-right: 0;
}

header > ul >  li:first-child {
    margin-left: 0;
}

header a {
    color: gray;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* JUMBOTRON */

.jumbotron {
    background-color: #b4d0e7;
    min-height: 740px;
    margin-bottom: 150px;
}

.jumbotron .container {
    max-width: 1280px;
    height: 100%;
    padding-top: 100px;
}

.jumbotron .container> * {
    float: left;
}

.jumbotron h1 {
    font-size: 75px;
    width: 100%;
    margin-bottom: 60px;
    line-height: 6rem;
}

.jumbotron .text {
    width: 400px;
    margin-right: 70px;
}

.jumbotron .text p:first-child {
    line-height: 1.5rem;
    margin-bottom: 35px;
}

.jumbotron .text p:last-of-type {
    margin-bottom: 50px;
}

.jumbotron .text i {
    font-size: 3rem;
}

.jumbotron .text .button {
    margin-bottom: 15px;
    display: inline-block;
}

.jumbotron img {
    width: 790px;
}

/* MAIN */

main {
    margin-top: 250px;
    overflow: hidden;
}

main > * {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 1080px;
}

main > *.full {
    max-width: 100%;
}

main > *.full .inside {
    max-width: 1080px;
    margin: 0 auto;
}

.price-choice {
    margin-bottom: 30px;
}

.price-choice span:first-child {
    padding-right: 10px;
}

.pricing .price-column {
    border: 2px lightgray solid;
    min-height: 1100px;
}

.pricing .price-column.enterprise {
    width: 100%;
    min-height: fit-content;
    float: left;
    padding-bottom: 0;
}

.pricing .price-column.enterprise .price-name {
    margin: 0;
}

.pricing .price-column.enterprise .price-name> h3{
    margin-bottom: 10px;
}

.pricing .price-column.enterprise .price-name> h4 {
    margin-bottom: 20px;
}

.pricing .price-column.enterprise .price-desc {
    position: relative;
}

.pricing .price-column.enterprise .button {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px 100px;
}

.price-column .price-type {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px lightgray solid;
}

.price-column .price-desc {
    padding: 30px;
    line-height: 20px;
}

.price-column .price-name {
    line-height: 30px;
    margin-bottom: 50px;
}

.price-column .price-desc ul {
    margin-bottom: 50px;
}

.price-column .price-desc ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
}

.price-column .price-desc ul li i{
    left: 0px;
    top: 1px;
    position: absolute;
    font-size: 0.9rem;
}

.button-trial {
    margin-bottom: 30px;
}

.button-trial .button {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.button-trial span a:link {
    color: #0061ff;
    font-weight: bold;
}

.price-desc h4 {
    margin-bottom: 30px;
}

.price-desc ul.blue i {
    color: #0061ff;
}

.partner>* {
    float: left;
}

.partner img {
    width: 50%;
}

.partner .text {
    width: 50%;
    padding: 50px 60px;
}

.partner .text>* {
    margin-bottom: 30px;
    line-height: 1.6rem;
}

.business .col3 img {
    max-width: 100%;
}

.business .col3 h3 {
    margin-bottom: 20px;    
}

.business a {
    color: black;
}

.casestudy {
    margin-bottom: 0;
}

.casestudy .inside > *{
    margin-bottom: 40px;
}

.studies {
    height: 30vw;
}

.studies .col3 {
    margin: 0;
    width: calc(100% / 3);
    height: 100%;
}

.study {
    padding: 50px;
    background-color: #f5f5f5;
}

.study > * {
    margin-bottom: 30px;
}

.study img {
    width: 150px;
}

.grid .tile {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}

.grid:first-of-type .tile:first-child {
    border: 10px rgba(255, 255, 255, 0.507) solid;
}

.grid .tile img {
    max-width: 150px;
    max-height: 150px;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.business-trial {
    background-color: #b4d0e7;
    padding: 130px 0;
}

.business-trial .inside {
    position: relative;
}

.business-trial h2 {
    color: #61082b;
    margin-bottom: 0;
}

.business-trial .button {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 100px;
    border: none;
}

.faq {
    margin-bottom: 100px;
}

.faq div {
    position: relative;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px gray solid;
}

.faq div:first-of-type {
    border-top: 1px gray solid;
}

.faq i {
    position: absolute;
    right: 0;
    transition: 0.2s;
}

.faq label {
    display: block; 
}

.faq .toggle {
    display: none;
}

.faq .toggle:checked ~ label i{
   transform: rotate(180deg);
}

.faq .answer {
    padding-right: 60px;
    transform: scaleY(0);
    height: 0;
    padding-top: 0;
    color: gray;
}

.faq .answer a {
    color: gray;
}

.faq .toggle:checked ~ .answer{
    padding-top: 20px;
    transform: scaleY(1);
    transition: transform 0.3s ease-out;
    transform-origin:top;
    height:auto;
    overflow:hidden;
}

/* FOOTER */

footer {
    background-color: black;
    overflow: hidden;
}

footer .container {
    margin: 75px auto;
    max-width: 1280px;
    color: white;
    overflow: hidden;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

footer ul li {
    padding-bottom: 10px;
}

footer ul li:first-child {
    padding-bottom: 20px;
}

footer ul {
    float: left;
    padding-right: 130px;
}

footer span.line {
    width: 110px;
}

footer .langues {
    color: gray;
    font-size: 0.8rem;
}