* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid red;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 1px gray solid;
    color: gray;
}

.button.blue {
    color: white;
    background-color: #0061ff;
}

ul li {
    list-style: none;
}