* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
/* 
    border: 1px solid red; */
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 1px gray solid;
    color: gray;
}

.button.blue {
    color: white;
    background-color: #0061ff;
}

ul li {
    list-style: none;
}

.col3 {
    float: left;
    width: calc(calc(100% - 130px) / 3);
    margin-right: 65px;
    margin-bottom: 50px;
}

.col3.no-margin {
    margin-right: 0;
}

span.line {
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    width: 50px;
    margin-bottom: 30px;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}